body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background-image: linear-gradient(180deg, #f2f3f4 10%, #f2f3f4 100%);
    background-size: cover;
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}


.sidebar .accordion-item {
    font-weight: 500;
    color: #000000;
    display: block;
    text-align: left;
    padding: 0;
    width: auto;


}

.sidebar .accordion-item .accordion-button{
  border-radius: 15px;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.sidebar .accordion-flush button {
  color: #000000;
}
.nav-item .collapse {
  position: relative;
  left: 0;
  z-index: 1;
  top: 0;
  -webkit-animation: none;
  animation: none;
}

.nav-item .nav-link[data-toggle="collapse"]::after {
  width: 1rem;
  text-align: center;
  float: right;
  vertical-align: 0;
  border: 0;
  font-weight: 900;
  content: '\f107';
}

.accordion-body{
  background-color: #DCDCDC;
  border-radius: 15px;
}
.accordion-body .btn a{
  color: #000;
  font-weight: bold;
}

.accordion-body .btn img{
  padding: 0px 10px;
}

.accordion-button{
  color: #ffff;
}

.accordion-button img{
  padding: 0px 10px;
}
/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.table td, .table th{
  padding: 5px;
  border: 2px solid #000;
  text-align: left;

}


.table tbody tr:nth-child(even){
  background-color: #f5f5f5;
}
.table-responsive thead {
  background-color: #007bff;
}

.card-body {
  background-color: #DCDCDC;
}
