@font-face{
    font-family : Times-New-Roman;
    src:url(times-roman/Times-New-Roman.otf);
}

*{
    font-family: Times-New-Roman;
    padding: 0;
    margin: 0;
}

body{
    background: aqua;
}

/* HEADER */

img{
    float: left;
    width: 200px;
    height: 35px;
    margin-left: 10px;
    margin-top: 10px;
}

header nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li{
    margin-top: 15px;
    padding: 0;
    width: 200px;
    height: 40px;
    background-color: aqua;
    float: right;
    line-height: inherit;
    text-align: center;
    list-style: none;
    text-decoration: none;
}

header nav ul li a{
    display: block; 
    text-decoration: none;
}

header nav ul li a:hover{
    color: black;
}

header nav ul li a:visited{
    color: black;
}

header nav ul li ul li{
    display: none;
}

header nav ul li:hover ul li{
    display: block;
}

header nav ul li ul li a{
    text-decoration: none;
    color: black;
}

header nav ul li ul li a:hover{
    color: black;
}

header nav ul li ul li a:visited{
    color: black;
}


/*MAIN */
main{
    clear: both
}

.filtre{
    margin-top: 10px;
    background: white;
    float: left;
    width: 220px;
    height: 760px;
    padding-left: 20px;
}

.filtre ol li{
    list-style: none;
    padding-bottom: 10px;
}

.tableau_documentation{
   
}

.barre_doutil table tr th{
    padding-left:15px;
}

.barre_doutil{
    border-color: #FFFFFF;
    
}

table{
    border: 20px;
    border-color: beige
}

table tr td form input{
    height: 40px;
}

.tableau table tr td select{
    height: 44px;
}

.barre_doutil button{
    width : 150px;
    height: 40px;
}

.barre_doutil{
    padding-left: 20px;
}

.tableau{
    display: flex;
}

nav{
    display: flex;
    justify-content: space-between;
    justify-content: flex-end;
}
